/* место для вашего кода */
header {
  margin-top: 92px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 1fr 220px 1fr;
  grid-template-rows: 105px;
  justify-content: center;
  align-items: center;
}

.cover {
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  width: 1100px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.lots {
  width: 100%;
  display: block;
  margin-top: 178px;
}

.about {
  width: 1052px;
  margin-top: 150px;
  margin-left: 24px;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 100%;
}

.navigator__menu {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.13px;
  color: #000000;
}

.header-logo {
  display: flex;
  justify-content: center;
}

.header__logo-image {
  width: 136px;
  height: 105px;
}

.meaning__links-list-item-no-feature {
  text-decoration: none;
}

.header__links-list {
  display: flex;
  justify-content: space-between; 
}

.header__links-list-item {
  list-style-type: circle;
}

.meaning__links-list-item-no-bullit {
  list-style-type: none;
}

.address {
  font-style: normal;
  font-family: Raleway, sans-serif;
  max-width: 240px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  color: #000000;
}

.meaning__links-list-item {
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header_address {
  display: flex;
  flex-direction: row;
  justify-self: end;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 0;
}

.cover-title {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 100px;
  font-weight: 700;
  line-height: 125px;
  letter-spacing: 30px;
  padding-top: 160px;
  padding-left: 50px;
  padding-right: 18px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
  justify-content: center;
}

.letter-spacing-extended-right {
  letter-spacing: 60px;
  display: flex;
  justify-content: end;
}

.aligned-text {
  display: flex;
}

.aligned-text-left {
  justify-content: start;
}

.aligned-text-center {
  padding-right: 30px;
  justify-content: center;
}

.aligned-text-right {
  justify-content: end;
  letter-spacing: 30px;
}

.cover__description-position-text {
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 122px;
  margin-bottom: 50px;
}

.cover__description-text {
  word-spacing: 18px;
  flex-shrink: 1;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  font-style: normal;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  border: #ffffff solid 1px;
  position: relative;
  z-index: 2;
}

.lots__heading {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  padding-left: 64px;
}

.lots__look-more-link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.lots__card-list-item {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(3, 334px);
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.lots__look-more {
  padding-left: 64px;
  padding-top: 32px;
  max-width: 256px;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 563px;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.links-list-item_no-bullit {
  list-style-type: none;
}

.card__links-list-item {
  text-decoration: none;
}

.card-link {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 52px;
  height: 100%;
  width: 100%;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.card__title-item {
  flex-grow: 1;
}

.card-text {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 46px;
  position: relative;
  z-index: 2;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.article {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about__section-logo {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__section-title {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
}

.about__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 276px;
  padding-top: 34px;
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.about__text-content {
  padding-top: 2px;
  gap: 25px;
  max-width: 688px;
}

.footer {
  width: 1000px;
  margin-left: 50px;
  margin-top: 182px;
  margin-bottom: 92px;
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  justify-content: space-between;
  align-items: start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list-item {
  display: flex;
  justify-content: space-between;
}
